if visible
  td(style='width: 5px; padding: 0; background-color: ' + model.getColor() + ';')
  if active
    td(style='background-color: lightgray; overflow: hidden;')
      p
        strong #{model.toShort()}
        if model.hasAttachments()
          i.icon-file
        br
        i(style='color: black;') #{model.date()}
        p #{model.get("subject")}
  else
    td
      p
        strong #{model.toShort()}
        if model.hasAttachments()
          i.icon-file
        br
        i(style='color: gray;') #{model.date()}
        p #{model.get("subject")}
