.well
  p
    | #{model.__from}
    i(style='color: lightgray;') #{model.__date}
  h3 #{model.__subject}
  br
  div#mail_content
    if model.__html
      #{model.__html}
    else
      #{model.__text}
      
.btn-toolbar
  .btn-group
    a.btn.btn-primary
      i.icon-share-alt
      | Answer
    a.btn
      i.icon-share-alt
      | Answer to all
    a.btn
      i.icon-arrow-up
      | Forward
  .btn-group
    a.btn.btn-warning
      i.icon-star
      | Important
    a.btn
      i.icon-ban-circle
      | Spam
    a.btn.btn-danger
      i.icon-remove
      | Delete
