td(title=mailboxName, style='width: 5px; padding: 0; background-color: ' + model.getColor() + ';')
td(title=mailboxName)
    p
        if model.isUnread()
            strong #{model.fromShort()}
        else
            #{model.fromShort()}

        i.date #{model.date()}
        if model.hasAttachments()
            i.icon-file
        if model.isFlagged()
            i.icon-star
        if model.isUnread()
            p.subject
                strong #{model.get("subject")}
        else
             p.subject #{model.get("subject")}
