if visible
  td(style='width: 5px; padding: 0; background-color: #{model.mailbox().get("color")};')
  if active
    td(style='background-color: lightgray; overflow: hidden;')
      p
        if model.is_unread()
          strong #{model.from_short()}
        else
          #{model.from_short()}
        if model.hasAttachments()
          i.icon-file
        if model.is_flagged()
          i.icon-star
        br
        i(style='color: black;') #{model.date()}
        if model.is_unread()
          p 
            strong #{model.get("subject")}
        else
          p #{model.get("subject")}
  else
    td
      p
        if model.is_unread()
          strong #{model.from_short()}
        else
          #{model.from_short()}
        if model.hasAttachments()
          i.icon-file
        if model.is_flagged()
          i.icon-star
        br
        i(style='color: gray;') #{model.date()}
        if model.is_unread()
          p 
            strong #{model.get("subject")}
        else
          p #{model.get("subject")}
