.btn-toolbar#additional_bar(style="display: none;")
  .btn-group
    a#button_answer.btn.btn-primary
      i.icon-share-alt
      | Answer
    a#button_answer_all.btn
      i.icon-share-alt
      | Answer to all
    a#button_forward.btn
      i.icon-arrow-up
      | Forward
  .btn-group
    a#button_flagged.btn.btn-warning
      i.icon-star
      | Flag
    a#button_unread.btn
      | Unread
    a.btn.disabled
      i.icon-ban-circle
      | Spam
    a.btn.btn-danger.disabled
      i.icon-remove
      | Delete

.well.mail-panel
  p
    | #{model.fromShort()} 
    i.date #{model.date()}

    if model.get("cc")
      p
        | CC:  #{model.cc()}

  h3 #{model.get("subject")}
  br

  if model.hasHtml()
    iframe#mail_content_html(id="mail_content_html", name="mail_content_html")
      !{model.html()}
  else
    #mail_content_text
      !{model.text()}
      
if model.hasAttachments()
  .attachments-box
    h3.attachments-title attachments
    #attachments_list.well

.btn-toolbar
  .btn-group
    a#button_answer.btn.btn-primary
      i.icon-share-alt
      | Answer
    a#button_answer_all.btn
      i.icon-share-alt
      | Answer to all
    a#button_forward.btn
      i.icon-arrow-up
      | Forward
  .btn-group
    a#button_flagged.btn.btn-warning
      i.icon-star
      | Flag
    a#button_unread.btn
      | Unread
    a.btn.disabled
      i.icon-ban-circle
      | Spam
    a.btn.btn-danger.disabled
      i.icon-remove
      | Delete

#answer_form
