if active
  td
    p
      | #{model.headers.from}
      br
      i(style='color: lightgray;') #{model.headers.date}
    p #{model.subject}
    td
        a.btn.btn-mini.choose_mail_button
          i.icon-arrow-right
else
  td
    p
      | #{model.headers.from}
      br
      i(style='color: lightgray;') #{model.headers.date}
    p #{model.subject}
  td
      a.btn.btn-mini.choose_mail_button
        i.icon-arrow-right