if visible
  if active
    td(style='width: 5px; padding: 0; background-color: #{model.mailbox.get("color")};')
    td(style='background-color: lightgray;')
      p
        if model.is_unread()
          strong #{model.from_short()}
        else
          #{model.from_short()}
        if model.is_flagged()
          i.icon-star
        br
        i(style='color: gray;') #{model.date()}
        if model.is_unread()
          p 
            strong #{model.get("subject")}
        else
          p #{model.get("subject")}
    td(style='background-color: lightgray;')
  else
    td(style='width: 5px; padding: 0; background-color: #{model.mailbox.get("color")};')
    td
      p
        if model.is_unread()
          strong #{model.from_short()}
        else
          #{model.from_short()}
        if model.is_flagged()
          i.icon-star
        br
        i(style='color: lightgray;') #{model.date()}
      if model.is_unread()
        p 
          strong #{model.get("subject")}
      else
        p #{model.get("subject")}
    td
      a.btn.btn-mini.choose_mail_button
        i.icon-arrow-right