form.well
  fieldset
    .control-group#mail_basic
      p
        if mailtosend.get("mode") == "answer"
          | Answering to #{model.from()} ...
        else if mailtosend.get("mode") == "answer_all"
          | Answering to all #{model.fromAndCc()} ...
        else
          | Forwarding ...
        a#mail_detailed_view_button.btn-mini.btn-primary show&nbsp;details
    .control-group#mail_to
      .controls
        .input-prepend
          span.add-on To&nbsp;
          input.content.span6(id="to", type="text", value=model.toResponse(mailtosend.get("mode"))).input-xlarge
    .control-group#mail_advanced
      .controls
        .input-prepend
          span.add-on Cc&nbsp;
          input.content.span6(id="cc", type="text", value=model.ccResponse(mailtosend.get("mode"))).input-xlarge
      .controls
        .input-prepend
          span.add-on Bcc
          input.content.span6(id="bcc", type="text", value="").input-xlarge d
      .controls
        .input-prepend
          span.add-on Subject
          input.content.span9(id="subject", type="text", value= model.subjectResponse(mailtosend.get("mode"))).input-xlarge
    .control-group
      .controls
        #wysihtml5-toolbar(style='display: none;')
          .btn-toolbar
            .btn-group
              a.btn.btn-mini(data-wysihtml5-command='bold') bold
              a.btn.btn-mini(data-wysihtml5-command='italic') italic
              a.btn.btn-mini(data-wysihtml5-command='underline') underline
           
            .btn-group
              a.btn.btn-mini(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='red') red
              a.btn.btn-mini(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='green') green
              a.btn.btn-mini(data-wysihtml5-command='foreColor', data-wysihtml5-command-value='blue') blue
          
            .btn-group
              a.btn.btn-mini(data-wysihtml5-command='createLink') insert link
            div(data-wysihtml5-dialog='createLink', style='display: none;border: none;')
              form.form-inline
                input.text(data-wysihtml5-dialog-field='href', value='http://')
                a.btn.btn-mini(data-wysihtml5-dialog-action='save') OK
                a.btn.btn-mini(data-wysihtml5-dialog-action='cancel') Cancel
      .controls
        textarea.content.span10(id="html", rows=15, cols=80).input-xlarge
          br
          br
          p
            #{model.respondingToText()}
          blockquote(style="border-left: 3px lightgray solid; margin-left: 15px; padding-left: 5px; color: lightgray; font-style:italic;")
            !{model.htmlOrText()}
        a#send_button.btn.btn-primary.btn-large Send !
