if visible
  td(style='width: 5px; padding: 0; background-color: ' + model.getColor() + ';')
  td
    p
      if model.isUnread()
        strong #{model.fromShort()}
      else
        #{model.fromShort()}
      i #{model.date()}
      if model.hasAttachments()
        i.icon-file
      if model.isFlagged()
        i.icon-star
      if model.isUnread()
        p 
          strong #{model.get("subject")}
      else
         p #{model.get("subject")}
