if visible
  td(style='width: 5px; padding: 0; background-color: ' + model.getColor() + ';')
  if active
    td(style='background-color: lightgray; overflow: hidden;')
      p
        if model.isUnread()
          strong #{model.fromShort()}
        else
          #{model.fromShort()}
        if model.hasAttachments()
          i.icon-file
        if model.isFlagged()
          i.icon-star
        br
        i(style='color: black;') #{model.date()}
        if model.isUnread()
          p 
            strong #{model.get("subject")}
        else
          p #{model.get("subject")}
  else
    td
      p
        if model.isUnread()
          strong #{model.fromShort()}
        else
          #{model.fromShort()}
        if model.hasAttachments()
          i.icon-file
        if model.isFlagged()
          i.icon-star
        br
        i(style='color: gray;') #{model.date()}
        if model.isUnread()
          p 
            strong #{model.get("subject")}
        else
          p #{model.get("subject")}
