if active
  td
    p
      | #{model.__from}
      br
      i(style='color: lightgray;') #{model.__date}
    p #{model.__subject}
  td
    a.btn.btn-mini.choose_mail_button
      i.icon-arrow-right
else
  td
    p
      | #{model.__from}
      br
      i(style='color: lightgray;') #{model.__date}
    p #{model.__subject}
  td
    a.btn.btn-mini.choose_mail_button
      i.icon-arrow-right