.btn-toolbar#additional_bar
    a#btn-flagged.btn.btn-warning
      if model.isFlagged()
        i.icon-star-empty.icon-white
        | Unflag
      else
        i.icon-star.icon-white
        | Flag

    a#btn-unread.btn
        if model.isRead()
          i.icon-eye-close.icon-white
          | Keep unread
        else
          i.icon-eye-open.icon-white
          | Mark read

    a#btn-delete.btn.btn-danger
      i.icon-remove.icon-white
      | Delete

.well.mail-panel
  p
    | #{model.fromShort()}
    i.date #{model.date()}

    if model.get("cc")
      p
        | CC:  #{model.cc()}

  h3 #{model.get("subject")}
  br

  if model.hasHtml()
    iframe#mail_content_html(name="mail_content_html")
      !{model.html()}
  else
    #mail_content_text
      !{model.text()}


#answer_form
